@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet');

* {
  background-color: #2D2D2D;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.principal {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

button {
  background: #5162FF;
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  margin-right: 20px;
}

button:hover {
  background: #4da6ff;
  color: #2D2D2D;
}

.areaBotoes {
  display: flex;
  flex-direction: row;
}

img {
  width: 256px;
  margin: 10px;
  border-radius: 10px;
}

select {
  font-size: 20px;
  padding: 15px;
  margin: 20px;
}